/* https://www.joshwcomeau.com/css/make-beautiful-gradients/ */
.blue-gradient {
  background-image: linear-gradient(
    90deg,
    hsl(219deg 84% 15%) 0%,
    hsl(221deg 52% 32%) 18%,
    hsl(220deg 46% 50%) 38%,
    hsl(220deg 46% 50%) 61%,
    hsl(221deg 52% 32%) 82%,
    hsl(219deg 84% 15%) 100%
  );
}
.blue-gradient2 {
  background-image: linear-gradient(
    90deg,
    hsl(219deg 84% 15%) 0%,
    hsl(221deg 52% 32%) 18%,
    hsl(220deg 46% 50%) 38%,
    hsl(220deg 46% 50%) 61%,
    hsl(221deg 52% 32%) 82%,
    hsl(219deg 84% 15%) 100%
  );
}

.rotate {
  animation: rotation 3s infinite linear;
}
.rotateY {
  transform: translateX(-1px) rotateY(180deg);
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.test111 {
  color: #449cb793;
}
.casinoGreenTransparent {
  color: #008000bb;
}

.casinoLimeTransparent {
  color: #44f70de7;
}
.darModeRedTransparent {
  color: #f70d0de7;
}

.casinoDarkGreenTransparent {
  color: #00421abb;
}
.casinoGreen {
  color: #2d5c17;
}
.casinoRedTransparent {
  color: #830707bb;
}
.casinoDarkRedTransparent {
  color: #701524cc;
}
.casinoPinkTransparent {
  color: #830707b2;
}
.casinoRedDarkModeTransparent {
  color: #f31d1d;
}
.casinoLightPinkTransparent {
  color: #dd4e4391;
}
.casinoBlackTransparent {
  color: #131212bb;
}
.blackTransparent {
  color: #080808ef;
}
.casinoBlack {
  color: #131212fa;
}
.casinoRed {
  color: #5c1717;
}
.casinoWhiteTransparent {
  color: #c9c1c1de;
}
.casinoLightGrayTransparent {
  color: #ddd4d4de;
}
.casinoGrayTransparent {
  color: #9e9797de;
}
.casinoWhiteTransparent {
  color: #fffffff8;
}
.casinoMoreBlackTransparent {
  color: #131212e0;
}
.casinoOrangeTransparent {
  color: #d45309bb;
}
.casinoBlueTransparent {
  color: #0979d4bb;
}
.veryLightBlue {
  color: #b5d7fc67;
}
.veryLightBlueSemiTransparent {
  color: #b5d7fcdc;
}
.veryLightBlueTransparent {
  color: #92c7fcbb;
}
.veryLightTransparent {
  color: #d6e7f821;
}
.chrtBkgColor {
  color: #c2dffa3d;
}
.casinoYellowTransparent {
  color: #fae62ebb;
}
.testColor2 {
  color: #00263a;
}
.darkBlue {
  color: #0b224ebb;
}
.softWhite {
  color: #fcfcfcf1;
}

/* Amplify auth */
:root {
  --amplify-primary-color: #1150a2 !important;
  --amplify-primary-tint: #3f4c60;
  --amplify-primary-shade: #2d92ba;
  --amplify-background-color: #d6e7f8;
}
div [role='tablist'] {
  background-color: #0a214c !important;
}
div [role='tablist'] button {
  color: #0a214c !important;
  font-weight: 300 !important;
  font-size: 18px !important;
}
div [role='tablist'] [aria-selected='true'] {
  color: #d6e7f8 !important;
}
div [role='tablist'] [aria-selected='false'] {
  color: #446ab7 !important;
}
div [role='tablist'] .amplify-tabs {
  border: none !important;
}
.amplify-button--primary {
  color: #d6e7f8 !important;
  font-weight: 600 !important;
  background-color: #0a214c !important;
}
.amplify-button--link {
  color: #456cba !important;
  font-weight: 700 !important;
}
div[data-amplify-container].amplify-heading {
  font-size: '2.25rem' !important;
  font-weight: 300 !important;
}

.amplify-heading {
  font-size: '2.25rem' !important;
  font-weight: 600 !important;
}

/* end Amplify auth */
.DarkModeBlue {
  color: #061f4ef6;
}
.DarkModeBlueTransparent {
  color: #2f4e8dee;
}
.DefaultBlue {
  color: #4b77cf;
}
.oceanBlue {
  color: #295d6f;
}
.oceanBlueTransparent {
  color: #0ba3d631;
}

/* apex charts */
.apexcharts-tooltip {
  padding: '24px';
  border: solid #2f4e8d 1px;
  background: #080808ef;
  color: #d6e7f8;
  font-size: '16px';
  box-shadow: 4px 2px 6px -2px #142d5d !important;
}
.apexcharts-tooltip-title {
  font-size: '16px';
  font-weight: 600;
  border-bottom: solid #b5d7fc67 1px;
}
.apexcharts-tooltip-text-y-value {
  /* font-size: '14px' !important; */
  font-weight: 600 !important;
}
.apexcharts-xaxistooltip {
  background: #080808ef !important;
  color: #d6e7f8 !important;
  border: solid #2f4e8d 1px !important;
  padding: 12px !important;
}
/* .apexcharts-xaxistooltip::after {
  width: 10;
  height: 10;
  border: 150px solid transparent;
  border-top: 0;
  border-bottom: 300px solid red;
} */

.apexcharts-xaxistooltip::after {
  /* background: 'transparent' !important; */
  border: none !important;
  padding: 6px !important;
  background-image: linear-gradient(to bottom right, transparent 50%, #080808ef 0), linear-gradient(to top right, #080808ef 50%, transparent 0) !important;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}
/* .arrow_box {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: 'red';
  border-width: 13px;
  border-radius: 2rem;
  margin-top: -13px;
} */
